%mainItemPosition {
  // padding-top: 15%;  
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
}

@mixin sectionFormat($bg-color) {
  flex-basis: 50%;
  background-color: $bg-color;
  text-align: center;
  position: relative;

  // padding: 2vw 10vw;
}

@mixin headerTextFormat($color, $weight) {
  color: $color;
  font-weight: $weight;
  font-size: 1.5rem;
  text-transform: uppercase;
}
