%flexPosition {
  display: flex;
  align-items: center;
  justify-content: center;
}

%topItemPosition {
  min-height: 20%;
  @extend %flexPosition;
}

%mainItemPosition {
  min-height: 60%;
  @extend %flexPosition;
}

@mixin itemPosition($height) {
  height: $height;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin sectionFormat($bg-color) {
  flex-basis: 50%;
  background-color: $bg-color;
  text-align: center;
}

@mixin headerTextFormat($color, $weight) {
  color: $color;
  font-weight: $weight;
  font-size: 1.5rem;
  text-transform: uppercase;
}
