@import "/src/common/styles/colors/calendar";
@import "../../common/styles/funcs";

.headerConatiner {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.calendarHeader {
  display: inline;
  vertical-align: middle;
  @include headerTextFormat($border-color, 700);
}
