@import "/src/common/styles/colors/calendar";
@import "../../common/styles/funcs";

.headerConatiner {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @extend %topItemPosition;
}

.calendarHeader {
  @include headerTextFormat($border-color, 700);
}
