@import "/src/common/styles/colors/calendar";
@import "../../common/styles/funcs";

.tableContainer {
  @extend %mainItemPosition;
}

.calendarTable {
  $size: 2.5rem;
  width: 7 * $size;
  font-size: 1.3rem;

  > * {
    display: flex;
    flex-wrap: wrap;

    > * {
      width: $size;
      height: $size;
      font-weight: 700;
      @extend %flexPosition;
    }
  }
}
