@import "/src/common/styles/colors/calendar";
@import "/src/common/styles/breakpoints";
@import "../../common/styles/funcs";

.calendarTable {
  --th-size: 30px;

  margin: auto;
  @extend %mainItemPosition;

  border-collapse: separate;
  border-spacing: 15px 0;

  th {
    width: var(--th-size);
    height: var(--th-size);
    color: $view-main-text-color;
    font-weight: 700;
    vertical-align: middle;
  }

  > thead th {
    color: $view-accented-text-color;
  }

  @media screen and (min-width: $sm) {
    --th-size: 40px;
  }
  @media screen and (min-width: $xl) {
    --th-size: 50px;
  }
}

.calendarTable .currentDay {
  outline: 6px solid $view-accented-text-color;
  border-radius: 50%;
  color: $view-accented-text-color;
}
