@import "/src/common/styles/colors/calendar";
@import "/src/common/styles/breakpoints";
@import "../../common/styles/funcs";

.calendarTable {
  --th-size: 35px;

  margin: auto;
  @extend %mainItemPosition;

  border-collapse: separate;
  border-spacing: calc(var(--th-size) / 2) 0;
  font-size: 1.3rem;

  th {
    width: var(--th-size);
    height: var(--th-size);
    color: $view-main-text-color;
    font-weight: 700;
    vertical-align: middle;
  }

  > thead th {
    color: $view-accented-text-color;
  }

  @media screen and (min-width: $sm) {
    --th-size: 50px;
  }
  @media screen and (min-width: $xl) {
    --th-size: 60px;
  }
}

.calendarTable .currentDay {
  outline: 6px solid $view-accented-text-color;
  border-radius: 50%;
  color: $view-accented-text-color;
}
