@import "/src/common/styles/colors/calendar";
@import "../common/styles/funcs";

.currentDate {
  @include sectionFormat($date-bg-color);
}

.dayOfWeek {
  @include headerTextFormat($date-main-text-color, 200);
}

.dayOfMonth {
  font-size: 10rem;
  font-weight: 500;
  color: $date-main-text-color;

  @extend %mainItemPosition;
}
